#displaycard {
  border-radius: 10px;
  margin: 0;
  position: absolute;
  top: 35%;
  left: 41%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1300px){
    #displaycard{   padding-left: 430px; }
}
@media screen and (max-width: 1200px){
    #displaycard{   padding-left: 380px; }
}
@media screen and (max-width: 1100px){
    #displaycard{   padding-left: 320px; }
}
@media screen and (max-width: 1000px){
    #displaycard{   padding-left: 270px; }
}
.site{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sidebar-cards{
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 535px;
  max-width: 300px;
  width: 300px;
  background-color: #DE1400;
  justify-content: center;
  text-align: center;
  position: fixed;
  transition-duration: 0.8s;
  border-radius: 10px;
}
.sidebar-cards-nav{
  margin-top: 5px;  
  height: 100px;
  max-width: 280px;
  color: white;
  line-height: 100px;
  display: block;
}
.btncards:hover{
  background-color: #BE1100;
}
.sidebar-nav:hover{
  background-color: #BE1100;
}
.btncards, .btncards2{
  width: 100%;
  border-radius: 10px;
  height: 90px;
  margin-top: 30px;
  background-color: #c2c2c2;
  text-align: center;
  display: block;
}
#obrazek1{
  width: 205px;
  border-radius: 45px;
  display: none;
}
#obrazek2{
  width: 205px;
  border-radius: 45px;
  display: none;
}
#obrazek3{
  width: 205px;
  border-radius: 45px;
  display: none;
}
#obrazek4{
  width: 205px;
  border-radius: 45px;
  display: none;
}
#displayCardd1, #displayCardd2, #displayCardd3, #displayCardd4{
    margin: 0;
    padding-right: 0px;
    position: absolute;
    left: 38%;
}
#displayCardd1 {
  padding-left: 0px;
	z-index: 1;
}
#displayCardd2 {
  padding-left: 24px;
	z-index: 2;
}
#displayCardd3 {
  padding-left: 48px;
	z-index: 3;
}
#displayCardd4 {
  padding-left: 72px;
	z-index: 4;
}