#btn1, #btn2, #btn3, #btn4{
    display: block;
}
.button-open{
  max-width: 280px;
  color: white;
  line-height: 20px;
  display: none;
}
.button-hide{
  max-width: 280px;
  color: white;
  line-height: 20px;
  display: block;
}
.arrow-left, .arrow-right {
    position: absolute;
    margin: 0 auto;
    width: 0; 
    height: 0; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent; 
    margin-left: auto;
    left: 92%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition-duration: 0.6s;
}
.arrow-right {
    border-left: 25px solid white;
}
.arrow-left {
    border-right: 25px solid white;
}