.site{
  height: 0vh;
}
h1{
  color: white;
  font-size: 30px;
  font-weight: 600;
}
@media screen and (max-width: 800px){
  input::placeholder{ font-size:3vw; }
}
.btn-numbers-group button {
  background-color: #366799;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}
@media screen and (max-width: 800px){
    .btn-numbers-group{ font-size:1.8vw; }
}
.btn-numbers-group:after {
  content: "";
  clear: both;
  display: table;
}
.btn-numbers-group button:hover {
    background-color: #1d4c7a;
}
#Options, #Options2{
  float: left;
  width: 33%;
  height: 150px;
  text-align: center;
  visibility:  hidden;
}
input[type=text-numbers], select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #366799;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=text2-numbers], select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #366799;
  border-radius: 4px;
  box-sizing: border-box;
}
.submit-button-numbers{
  width: 100%;
  background-color: #366799;
  color: white;
  padding: 14px 20px;
  margin: 0px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (max-width: 800px){
    .submit-button-numbers{ font-size:2.2vw; }
}

input[type=submit-numbers]:hover {
  background-color: #364e79;
}

/*letters*/
.btn-letters-group button {
  background-color: #168707;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}
@media screen and (max-width: 800px){
    .btn-letters-group{ font-size:1.8vw; }
}
.btn-letters-group:after {
  content: "";
  clear: both;
  display: table;
}
.btn-letters-group button:hover {
  background-color: #126b06;
}
input[type=text-letters], select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #126b06;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=text2-letters], select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #126b06;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit-letters]:hover {
  background-color: #364e79;
}
.submit-button-letters{
  width: 100%;
  background-color: #366799;
  color: white;
  padding: 14px 20px;
  margin: 0px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (max-width: 800px){
    .submit-button-letters{ font-size:2.2vw; }
}

/*cards*/
.obrazek1{
	position: absolute;
	max-height: 205px;
	width: auto;
	margin-left: 120px;
	z-index: 5;
    border-radius: 8px;
}
.obrazek2{
	position: absolute;
	max-height: 205px;
	width: auto;
	margin-left: 40px;
	z-index: 4;
    border-radius: 8px;
}
.obrazek3{
	position: absolute;
	max-height: 205px;
	width: auto;
	margin-right: 40px;
	z-index: 3;
    border-radius: 8px;
}
.obrazek4{
	position: absolute;
	max-height: 255px;
	width: auto;
	margin-right: 60px;
	z-index: 2;
    border-radius: 8px;
}

input[type=text-cards], select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #DE1400;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=text2-cards], select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #DE1400;
  border-radius: 4px;
  box-sizing: border-box;
}
.submit-button-cards{
  width: 100%;
  background-color: #DE1400;
  color: white;
  padding: 14px 20px;
  margin: 0px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (max-width: 800px){
    .submit-button-cards{ font-size:2.2vw; }
}
input[type=submit-cards]:hover {
  background-color: #BE1100;
}
.btn-cards-group button {
  background-color: #DE1400;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}
@media screen and (max-width: 800px){
    .btn-cards-group{ font-size:1.8vw; }
}
.btn-cards-group:after {
  content: "";
  clear: both;
  display: table;
}
.btn-cards-group button:hover {
  background-color: #BE1100;
}
#Optionsx, #Optionsx2, #Optionsx3, #Optionsx4{
  float: left;
  width: 25%;
  height: 150px;
  text-align: center;
}
#Optionsx {
  visibility:  hidden;
}
#Optionsx2 {
  visibility:  hidden;
}
#Optionsx3 {
  visibility:  hidden;
}
#Optionsx4 {
  visibility:  hidden;
}

/*Binary*/
#Options {
  visibility:  hidden;
}
#Options2 {
  visibility:  hidden;
}
#Options3 {
  visibility:  hidden;
}
.btn-binary-group button {
  background-color: #ff8400;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}
@media screen and (max-width: 800px){
    .btn-binary-group{ font-size:1.8vw; }
}
.btn-binary-group:after {
  content: "";
  clear: both;
  display: table;
}
.btn-binary-group button:hover {
  background-color: #ff6600;
}
input[type=text-binary], select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ff8400;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=text2-binary], select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ff8400;
  border-radius: 4px;
  box-sizing: border-box;
}
.submit-button-binary{
  width: 100%;
  background-color: #ff8400;
  color: white;
  padding: 14px 20px;
  margin: 0px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit-binary]:hover {
  background-color: #ff6600;
}